USE [TurmaN12]
GO
/****** Object:  StoredProcedure [dbo].[Sp_ObterAlunos]    Script Date: 31/08/2020 22:05:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_ObterAlunos]
AS
SELECT * 
FROM Aluno